!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.yardoc
/Gemfile.lock
/coverage/*
/log/*
/public/assets
/public/system
/spec/dummy/log/*.log
/spec/dummy/spec/example-status.txt
/spec/dummy/tmp
/spec/example-status.txt
/tags
/tmp/*
/vendor/bundle
/pkg
