language: ruby
rvm:
  - 2.3.0
cache:
  - bundler: true
before_script:
  - psql -c 'create database maestro_gem_test;' -U postgres
before_install: gem install bundler -v 1.11.2
script:
  - bundle exec rspec
notifications:
  email:
    on_success: change
    on_failure: always
  slack: vltech:t6cocepi1FC4CNQFbnwPRzzb
