#centrelearn-top-navbar {
  height: 77px;
  min-height: 77px;

  #centrelearn-top-navbar-white {
    background-color: #fff;
    float: left;
    height: 100%;
    width: 33%;

    img {
      float: right;
      margin: 25px;
      width: 110px;
      vertical-align: middle;
    }
  }

  #centrelearn-top-navbar-blue {
    background-color: #3F7BB8;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    float: left;
    height: 100%;
    padding: 30px 10px;
    width: 67%;

    .btn {
      float: right;
      position: relative;
      bottom: 6px;
    }
  }
}

.navbar {
  background-color: #13273C;
  border: none;
  border-radius: 0;
  height: 40px;
  min-height: 40px;

  .navbar-brand {
    height: 40px;
    padding: 10px 15px;
  }

  .navbar-nav {
    padding: 0;

    li {
      a {
        color: #fff;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 10px;
        padding-top: 10px;
        text-transform: uppercase;
      }
    }

    .active {
      a {
        background-color: #2D5C8E !important;
      }
    }
  }
}
