@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

$color-dark: #797c83;
$color-darkest: #44484d;
$color-menu-dark: #333;
$color-orange: #FF9513;
$color-lightest: #eee;
$color-red: #B4141B;

html {
  font-family: sans-serif; // 1
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
}

body {
  margin: 0;
}

.nav-container {
  @import 'shared/bootstrap';
  &:not(.pl-menu) {
    background-color: $color-menu-dark;
  }

  .container-fluid {
    @include container-fixed;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .centered {
    margin: 0 auto !important;
  }

  .nav-container { margin-bottom: 18px; }

  .navbar,
  .rv-header,
  .rv-ribbon,
  .account-links {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.384615385em;
  }

  .rv-header,
  .pl-header {
    ul { list-style-type: none; }
    .account-links,
    .contact-links {
      display: block;
      li {
        float: right;
        a {
          font-weight: bold;
          &:hover, &:focus { text-decoration: none; }
        }
      }
    }
    .account-links {
      padding-right: $grid-gutter-width / 2;
      li {
        margin-left: 2em;
        a {
          font-size: 1.1em;
        }
      }
    }
  }

  .pl-header {
    margin-top: 0.75em;
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  .rv-header {
    img {
      padding: $grid-gutter-width / 2;
      padding-bottom: 0;
      width: 240px;
      margin-bottom: 1em;
    }

    .account-links,
    .contact-links {
      li {
        display: inline-block;
        padding-top: $grid-gutter-width / 2;
        a {
          color: $color-lightest;
          &:hover, &:focus {
            color: darken($color-lightest, 25%);
          }
          &.color-red {
            color: $color-red;
            &:hover, &:focus {
              color: lighten($color-red, 10%);
            }
          }
        }
      }
    }

    .contact-links {
      margin-top: 1.25em;
      li {
        &:first-of-type a {
          border-left: 1px solid rgba(0, 0, 0, 0.1);
          padding-left: 1.25em;
        }
        &:last-of-type a {
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          padding-right: 1.25em;
        }
        a {
          font-size: 1.25em;
        }
      }
    }
  }

  .pl-navbar {
    .navbar-right {
      margin-right: 0 !important;
    }

    .navbar-collapse {
      @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    ul > li { border: 0 !important; }
    .navbar-toggle {
      i.fa { color: inherit !important; }
      .text {
        color: inherit !important;
      }
    }
  }

  .navbar,
  .navbar-inverse, {
    min-height: 0px;
    background: $color-menu-dark;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;

    .nav {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;

      > li {
        border-bottom: 1px solid #33363d;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        @media (min-width: 768px) { border: none; }
        > a {
          font-weight: bold;
          color: $color-lightest;
          padding-top: 0.75em;
          padding-bottom: 0.75em;

          i.fa {
            margin-right: 0.4em;
          }

          &:hover,
          &:focus {
            background-color: $color-dark;
            color: darken($color-lightest, 10%);
          }
        }

        &.dropdown {
          .dropdown-toggle {
            background-color: rgba(255, 255, 255, 0.15);
            &:hover, &:focus {
              background-color: $color-dark;
            }
          }
          .dropdown-menu {
            background-color: $color-menu-dark;
            li {
              // border-bottom: 1px solid #33363d;
              // border-top: 1px solid rgba(255, 255, 255, 0.25);
              &.active a {
                background-color: rgba(255, 255, 255, 0.15);
              }
              a {
                color: $color-lightest;
                &:hover,
                &:focus {
                  background-color: rgba(255, 255, 255, 0.15);
                  color: darken($color-lightest, 10%);
                }
              }
            }
          }
        }
      }
    }

    .navbar-toggle {
      white-space: nowrap;
      font-weight: bold;
      border: 0;
      float: left;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 15px;
      border-radius: 0;
      font-size: 1.5em;

      &:hover, &:focus { background-color: $color-dark; }

      i.fa { color: $color-orange; }

      .text {
        font-weight: bold;
        color: $color-lightest;
        display: inline-block;
        margin-left: 0.25em;
      }
    }
  }

  $ribbon-menu-blue: #6195c6;
  .pl-menu {
    @media (min-width: 768px) {
    	.navbar-nav {
        &:before,
      	&:after {
      		display: none;
      	}
    	  float: left;
    	  margin: 0;
    	  width: 100%;
    	  display: table;
    	  table-layout: fixed;
    	  text-align: center;

        > li {
      	  float: none;
      	  display: table-cell;
      	  white-space: nowrap;
      	  width: auto;
          > a {
            padding-left: 0;
            padding-right: 0;
          }
      	}
    	}
    }
    font-size: 13px;
    @media (max-width: 550px) { font-size: 11px; }
  }

  .rv-ribbon {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #dad9d9 #b5b4b3 #b3b2b0;
    background-color: #dadade;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.05) 100%), url("https://www.redvector.com/assets/themes/minimal-depth/img/tile-linen.png");
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px rgba(0, 0, 0, 0.0625);
    width: 100%;
    border-radius: 0 0 4px 4px;
    a {
      color: $color-darkest;
      font-weight: bold;
      font-size: 1em;
      text-align: center;
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      border-bottom: 6px solid transparent;
      display: table-cell;
      border-right: 1px solid #a9abb0;
      border-left: 1px solid white;
      @media (max-width: 550px) {
        display: block;
        width: calc(100%/3);
        float: left;
        border-left: none;
        border-right: none;
      }
      &:first-of-type { border-left: none; }
      &:last-of-type { border-right: none; }

      i.fa {
        display: block;
        font-size: 1.75em;
        margin-bottom: 0.25em;
      }
      &.active {
        color: $ribbon-menu-blue !important;
        border-bottom-color: $ribbon-menu-blue;
      }
    }
  }
  .margin-right-5 { margin-right: 0.25em; }
}

// helpers
.margin-right-5 { margin-right: 0.25em; }

// NotFound

.error {
  h2 {
    font-size: 200px;
    margin: 0;
    text-align: center;
  }
  > p {
    font-size: 23px;
    margin-bottom: 50px;

    text-align: center;
  }
  .same-height-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    .flex-item {
      display: flex;
      flex: 0 0 33%;
      text-align: center;
      @media only screen and (max-width: 600px) {
        margin-bottom: 15px;
      }

      .item-contents {
        background-color: #b22222;
        color: #fff;
        padding: 20px 30px 30px 30px;
        position: relative;
        width: 90%;
        margin: 0 auto;

        .fancy-background {
          width: 250px;
          padding: 60px;
          position: absolute;
          top: -10px;
          right: -100px;
          background-color: rgba(255,255,255,0.1);
          transform: rotate(55deg);
          z-index: 2;
        }
      }

      h4 {
        font-size: 18px;
      }

      i.fa {
        clear: both;
        display: block;
        font-size: 3em;
      }
      a.btn-u {
        border: 1px solid #fff;
        color: #fff;
        clear: both;
        display: inline-block;
        font-size: 14px;
        margin-top: 20px;
        padding: 0.5em;
      }
    }
  }
}
