@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

$color-navbar-primary: #ba3737;
$color-navbar-primary-dark: darken($color-navbar-primary, 5%);
$color-navbar-secondary: #444;
$color-navbar-secondary-dark: darken($color-navbar-secondary, 5%);
$color-sidenav-primary: #686868;
$color-sidenav-primary-dark: #444;
$sidenav-width: 55px;
$sidenav-width-expanded: 241px;

html {
  font-family: sans-serif; // 1
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
}

body {
  margin: 0;
}

.nav-container {
  @import 'shared/bootstrap';
  font-size: 13px;

  // navbar
  .navbar {
    border: none;
    border-radius: 0;
    font-size: 13px;
    min-height: 40px;
    margin-bottom: 0;

    .nav {
      li {
        a {
          padding-bottom: 10px;
          padding-top: 10px;
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }

      .dropdown {
        .caret {
          display: inline-block;
          margin-left: 5px;
        }

        .dropdown-menu > li > a {
          color: #000;
          @media (max-width: 767px) {
            color: #fff;
          }
          font-size: 13px;
          padding-bottom: 5px;
          padding-top: 5px;
        }

        .dropdown-menu > .active > a {
          background-color: #ddd;
          color: #000;
        }
      }
    }
  }

  #navbar--top {
    background-color: $color-navbar-secondary;

    .navbar-brand {
      color: #fff;
      font-size: 13px;
      height: 40px;
      padding: 10px 15px;
    }

    .navbar-brand,
    .navbar-nav {
      margin: 0 !important;
    }

    .navbar-right {
      float: right !important;
    }

    .dropdown:hover,
    .dropdown:active,
    .dropdown:focus,
    .dropdown.open {
      & > a {
        background-color: $color-navbar-secondary-dark;
      }
    }

    .navbar-toggle {
      padding: 4px 10px;
    }
  }

  #navbar--bottom {
  background-color: $color-navbar-primary;

    .navbar-nav {
      & > li {
        & > a {
          color: #fff !important;

          &:hover {
            background-color: $color-navbar-primary-dark;
          }
        }
      }
      & > li.active {
        & > a {
          background-color: $color-navbar-primary-dark;
        }
      }
      .dropdown.open {
        background-color: $color-navbar-primary-dark;
        color: #fff;
        & > a {
          background-color: $color-navbar-primary-dark;
        }
      }
    }
  }

  #container--main {
    padding: 0;
  }

  &#sidenav {
    color: #fff;
    float: left;
    // margin-left: -15px;
    position: absolute;
    width : $sidenav-width;
    z-index: 5;

    .container &,
    .container-fluid & {
      margin-left: -15px;
    }

    nav {
      background-color: $color-sidenav-primary;
      width: $sidenav-width;
      transition: width 0.1s;

      .hidden-text { display: none; }
      &:hover {
        width: $sidenav-width-expanded;
        .hidden-text { display: inline; }
        ul {
          &.collapse {
            max-height: 999px;
            transition: all 1.5s;
            &.in {transition: all 1.5s;}
          }
          ul a { padding-left: 40px; }
        }
      }
      a {
        color: #fff;
        display: block;
        padding: 15px 12px;
        text-decoration: none;
        white-space: nowrap !important;
        i:first-of-type {
          margin-right: 15px;
          width: 30px;
        }
        i.fa-chevron-down {
          float: right;
          position: relative;
          top: 0.25em;
        }
      }
      ul {
        list-style-type: none;
        padding-left: 0;
        &.collapse {
          max-height: 0px;
          overflow: hidden;
          transition: all 0s;
        }
      }
      li {
        display: block;

        &.active {
          background-color: lighten($color-sidenav-primary-dark, 8%);
          > a {
            background-color: $color-sidenav-primary-dark !important;
          }
        }
        > a {
          &:hover {
            background-color: lighten($color-sidenav-primary-dark, 8%);
          }
        }
      }
      > ul {
        > li {
          > a > .text {
            position: relative;
            top: -0.5em;
          }
        }
      }
    }
  }

  #footer {
    background-color: $color-navbar-secondary;

    .navbar-nav:first-child a {
      padding-bottom: 8px;
      padding-top: 12px;
    }

    .navbar-right {
      span {
        background-image: url("http://app.targetsolutions.com/tsapp/dashboard/pl_fb/library/images/pro/targetsolutions.png");
      }
    }
  }
}

#page-contents { padding-left: $sidenav-width; }
