$color-primary: #ba3737;
$color-primary-dark: darken($color-primary, 5%); 
$color-secondary: #444444;
$color-secondary-dark: darken($color-secondary, 5%);

// navbar
.navbar {
  border: none;
  border-radius: 0;
  font-size: 13px;
  min-height: 40px;
  margin-bottom: 0;
  
  .nav {
    
    li {
      a {
        padding-bottom: 10px;
        padding-top: 10px;
        color: #fff;        
        &:hover {
          color: #fff;
        }
      }
    }
    
    .dropdown {
      .caret {
        display: inline-block;
        margin-left: 5px;
      }
      
      .dropdown-menu > li > a {
        color: #000;
        @media (max-width: 767px) {
          color: #fff;
        }
        font-size: 13px;
        padding-bottom: 5px;
        padding-top: 5px;
      }

      .dropdown-menu > .active > a {
        background-color: #ddd;
        color: #000;
      } 
    }
  }
}


#navbar--top {
  background-color: $color-secondary;

  .navbar-brand {
    color: #fff;
    font-size: 13px;
    height: 40px;
    padding: 10px 15px;
  }

  .navbar-brand,
  .navbar-nav {
    margin: 0 !important;
  }

  .navbar-right {
    float: right !important;
  }

  .dropdown:hover,
  .dropdown:active,
  .dropdown:focus,
  .dropdown.open {
    & > a {
      background-color: $color-secondary-dark;
    }
  }

  .navbar-toggle {
    padding: 4px 10px;
  }
}

#navbar--bottom {
  background-color: $color-primary;
  
  .navbar-nav {
    & > li {
      & > a {
        color: #fff !important;
        
        &:hover {
          background-color: $color-primary-dark;
        }
      } 
    }
    & > li.active {
      & > a {
        background-color: $color-primary-dark;
      }
    }
    .dropdown.open {
      background-color: $color-primary-dark;
      color: #fff;
    }
  }
}


// html,
// body,
// #container--main,
// .row,
// .col,
// #sidenav,
// #sidenav .nav {
//   height: 100%;
//   min-height: 100%;
// }

#container--main {
  padding: 0;
}

.nav-stacked {
  margin-left: -15px;
  background-color: #ddd;
  @media(max-width: 991px) {
    min-width: 57px;
    max-width: 57px;
  }
  
  a {
    display: block;
    overflow: auto;
  }
  
  i {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
  
  span {
    display: inline-block;
    float: left;
    margin-top: 5px;
    @media (max-width: 991px) {
      display: none;
    }
  }
}