$color-navbar-primary: #ba3737;
$color-navbar-primary-dark: darken($color-navbar-primary, 5%); 
$color-navbar-secondary: #444;
$color-navbar-secondary-dark: darken($color-navbar-secondary, 5%);
$color-sidenav-primary: #686868;
$color-sidenav-primary-dark: #444;

// navbar
.navbar {
  border: none;
  border-radius: 0;
  font-size: 13px;
  min-height: 40px;
  margin-bottom: 0;
  
  .nav {
    
    li {
      a {
        padding-bottom: 10px;
        padding-top: 10px;
        color: #fff;        
        &:hover {
          color: #fff;
        }
      }
    }
    
    .dropdown {
      .caret {
        display: inline-block;
        margin-left: 5px;
      }
      
      .dropdown-menu > li > a {
        color: #000;
        @media (max-width: 767px) {
          color: #fff;
        }
        font-size: 13px;
        padding-bottom: 5px;
        padding-top: 5px;
      }

      .dropdown-menu > .active > a {
        background-color: #ddd;
        color: #000;
      } 
    }
  }
}


#navbar--top {
  background-color: $color-navbar-secondary;

  .navbar-brand {
    color: #fff;
    font-size: 13px;
    height: 40px;
    padding: 10px 15px;
  }

  .navbar-brand,
  .navbar-nav {
    margin: 0 !important;
  }

  .navbar-right {
    float: right !important;
  }

  .dropdown:hover,
  .dropdown:active,
  .dropdown:focus,
  .dropdown.open {
    & > a {
      background-color: $color-navbar-secondary-dark;
    }
  }

  .navbar-toggle {
    padding: 4px 10px;
  }
}

#navbar--bottom {
  background-color: $color-navbar-primary;
  
  .navbar-nav {
    & > li {
      & > a {
        color: #fff !important;
        
        &:hover {
          background-color: $color-navbar-primary-dark;
        }
      } 
    }
    & > li.active {
      & > a {
        background-color: $color-navbar-primary-dark;
      }
    }
    .dropdown.open {
      background-color: $color-navbar-primary-dark;
      color: #fff;
    }
  }
}

#container--main {
  padding: 0;
}

#sidenav {
  margin-left: -15px;
  background-color: $color-sidenav-primary;
  @media(max-width: 991px) {
    min-width: 61px;
    max-width: 61px;
  }

  li {
    border-left: 4px solid #686868;
  }

  li.active,
  li:hover {
    border-color: $color-navbar-primary;
  }

  li.active,
  li.active a {
    background-color: $color-sidenav-primary-dark;
  }

  li a:hover {
    background-color: lighten($color-sidenav-primary-dark, 8%);
  }
  
  a {
    display: block;
    overflow: auto;
    color: #fff;
  }
  
  i {
    display: inline-block;
    float: left;
    margin-right: 15px;
  }
  
  span {
    display: inline-block;
    float: left;
    margin-top: 5px;
    @media (max-width: 991px) {
      display: none;
    }
  }
}

#footer {
  background-color: $color-navbar-secondary;

  .navbar-nav:first-child a {
    padding-bottom: 8px;
    padding-top: 12px;
  }

  .navbar-right {
    span {
      background-image: url("http://app.targetsolutions.com/tsapp/dashboard/pl_fb/library/images/pro/targetsolutions.png");
    }
  }
}